<ac:macro ac:name="div">
 <ac:parameter ac:name="class">abiheader</ac:parameter>
 <ac:rich-text-body>{{ofName}}</ac:rich-text-body>
</ac:macro>
<p>
 <strong>cURL</strong>:</p>
 {{{ocurl}}} 
<p>
 <strong>Success status code</strong>: {{ostatus}}</p>
<p>
 <strong>Request payload</strong>:</p>
{{{orequestData}}}
<p>
 <strong>Response payload</strong>:</p>
{{{oresponseData}}}

